# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Vector indexes & metadata
data/index/
*.index
*.pkl

# OS noise
.DS_Store
Thumbs.db

# Logs
*.log

data/eval_logs/
data/index/
general.txt